body{
	background: #CCC;
	padding: 0px;
	margin: 0px;
	font-family: "Lucida Grande", "Lucida Sans", "Arial", sans-serif;
}
*{font-weight:lighter;}
#header,#links,#frame,#footer{
	padding: 10px;
}
#footer{
	text-align: center;
}
#links a{
	color: #FFF;
	text-decoration: none;
}
.masked{ font-size: 5px; background: #333; color: #666; }
#links a:hover{
	text-decoration: underline;
}
#header, #footer{
	background: #FF9966;
}
#links{
	background: #FF3300;
}
#frame{
	padding: 10px;
}
h1,h3,h3{
	margin-top: 2px;
	margin-bottom: 2px;
}
a{
	color: #333;
	text-decoration: none;
}
a:hover{ color: #000; }