body{
	background: #FFF;
	padding: 0px;
	margin: 0px;
}
#main{
	margin: auto;
	width: 800px;
}
h1,h3,h3,body{
	font-family: 'Nobile', "Lucida Grande", "Lucida Sans", "Arial", sans-serif;
	font-weight: 100;
}
h1,h2,h3{
	margin-top: 2px;
	margin-bottom: 2px;
	color: #3399ff;
	text-transform: uppercase;
}
*{font-weight:lighter;}
#header,#links,#frame,#footer{
	padding: 10px;
}
#footer{
	text-align: center;
}
#links a, #header a{
	color: #FFF;
	text-decoration: none;
}
.masked{ font-size: 5px; background: #333; color: #666; }
#links a:hover{
	text-decoration: underline;
}
#header, #footer, #links{
	background: #3399ff;
	color: #fff;
}
#frame{
	padding: 10px;
}
a{
	color: #333;
	text-decoration: none;
}
a:hover{ color: #000; }