body{
	background: #666;
	font-family: "Courier",  sans;
}
*{
	font-size: 13px;
}
#footer{
	text-align: center;
	color: #FFF;
}
#footer a:hover{
	color: #CCC !important;
}
#main{
	border: 5px solid #333;
	background: #CCC;
	width: 600px;
	margin: 10px auto;
}
p{
	margin: 0px;
	padding: 5px;
}
hr{
	border: none;
	border-bottom: 1px solid #333;
}
table{
	width: 100%;
}
td{
	vertical-align: top;
}
img{
	border: 5px solid #333;
	margin: 10px;
}
h1,h2,h3,h4{
	margin: 0px;
	margin-bottom: 2px;
	background: #333;
	color: #FFF;
	font-size: 20px;
	padding-left: 10px;
}
.video{
	cursor: hand;
}
.masked{
	font-size: 5px;
	background: #333;
	color: #333;
}
a{
	text-decoration: none;
	color: #333;
}
a:hover{
	color: #000;
}
#header{
	background: red;
	border-bottom: 5px solid #333;
	padding: 10px;
	font-size: 15px;
}
img.icon{
	border: none;
	margin: 0px !important;
	vertical-align: center;
}
.details{
	font-size: 75%;
}